@tailwind components;
@tailwind utilities;

blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

p > code {
  padding: 3px;
}

code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}

pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}

h1 {
  border-bottom: 2px solid #224b4b;
}

h2 {
  border-bottom: 1px solid #224b4b;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

textarea {
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

p {
  margin-bottom: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#preview {
  padding: 1rem;
  text-align: left;
}
